<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body style="background-color: cadetblue; font-family: 'Courier New', Courier, monospace;">
<h1 style="box-shadow: 5px 10px rgb(104, 104, 146);">Welcome youve registered</h1>
<h2>Hello <%= userName %></h2>
<h2>Email sent at <%= time %> on <%= date %></h2>
<img src="https://www.itl.cat/pngfile/big/103-1032762_related-images-ergonomic-office-set-up.jpg">

</body>
</html>